.custom_navbar{
    background-color: teal;
    text-align: center;
    display: flex;
    justify-content: center;
}
.form_container{
    display: flex;
}
.card_container{
    width: 50%;
    /* margin: auto; */
}
.contactList{
    width: 50%;

}